* {
  margin: 0;
  padding: 0; }

body {
  background: #fff;
  font-family: "Arial";
  text-align: center; }

a {
  color: #333;
  text-decoration: none; }

.container {
  margin: auto;
  max-width: 960px;
  padding: 0 20px; }

header {
  background: #008080;
  color: #fff;
  padding: 1em; }
  header h1 {
    font-size: 40px; }

nav {
  background: #009a9a;
  height: 40px; }
  nav ul {
    list-style: none;
    padding-top: 10px; }
  nav li {
    display: inline; }
  nav a {
    color: #fff;
    padding-right: 20px; }
    nav a:hover {
      color: #ccc; }

.section, #section-a, #section-b {
  padding: 20px; }
  .section h1, #section-a h1, #section-b h1 {
    margin-bottom: 30px; }

#section-a {
  background: #f4f4f4;
  color: #000; }

#section-b {
  background: #333;
  color: #fff; }

.button, .button-a, .button-b {
  padding: 10px 15px; }

.button-a {
  background: #004d4d;
  color: #fff; }

.button-b {
  background: #00cdcd;
  color: #fff; }
