
@import 'variables';
@import 'functions';

* {
  margin: 0;
  padding: 0;
}

body {
  background: $body-bg;
  font-family: $main-font;
  text-align: center;
}

a {
  color: $dark-color;
  text-decoration: none;
}

.container {
  margin: auto;
  max-width: $container;
  padding: 0 20px;
}

header {
  background: $primary-color;
  color: set-text-color($primary-color);
  padding: 1em;

  h1 {
    font-size: 40px;
  }
}

nav {
  background: $secondary-color;
  height: 40px;

  ul {
    list-style: none;
    padding-top: 10px;
  }

  li {
    display: inline;
  }

  a {
    color: #fff;
    padding-right: 20px;

    &:hover {
      color: #ccc;
    }
  }
}

.section {
  padding: $section-padding;

  h1 {
    margin-bottom: 30px;
  }
}

#section-a {
  @extend .section;
  background: $light-color;
  color: set-text-color($light-color);
}

#section-b {
  @extend .section;
  background: $dark-color;
  color: set-text-color($dark-color);
}

.button {
  padding: 10px 15px;
}

.button-a {
  @extend .button;
  background: darken($primary-color, 10%);
  color: set-text-color($primary-color);
}

.button-b {
  @extend .button;
  background: lighten($secondary-color, 10%);
  color: set-text-color($secondary-color);
}
